<p class="titulo">Proyectos</p>
<div class="row">

  <div class="col-1"></div>

  <div class="col-8">
    <p class="tituloProyecto text-center">Titulo de proyecto</p>

    <p class="descripcion text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque temporibus, ad omnis iure suscipit quos laborum earum pariatur explicabo, aspernatur nostrum repudiandae ratione minus repellendus beatae perspiciatis ipsam ea quis!</p>
  </div>

  <div class="col-3">
    
    <a href="proyecto.com"><img src="https://i.imgur.com/uidoYjm.png" width="300px" alt=""></a>
  </div>

</div>

