
<div class="container-fluid custom-container row d-flex align-items-center">


  <div class="left col-4">
    <img class="img-fluid" src="../../../assets/ArgProgLogo180pxwidth.png" id="logoAP">
  </div>
  

  <div class="right col-8 d-flex justify-content-end">   
    
    <div class="icon-login">
  <a href="https://facebook.com" target="_blank"><img src="../../../assets/fb240.png" alt=""></a>

  <a href="https://github.com/JY556" target="_blank"><img src="../../../assets/github-mark-white.png" alt=""></a>
  
  <a href="https://linkedin.com" target="_blank"><img id="liLogo" src="../../../assets/LI-In-Bug240.png" alt=""></a>

  <button *ngIf="loginTrue" type="button" class="btn btn-success">Login</button>

  <button *ngIf="!loginTrue" type="button" class="btn btn-dark">Logout</button>
</div>

  </div>
</div>

