<p class="titulo">Habilidades</p>

<div class="row ">

  <div class="col-4 text-center">
    <circle-progress
  [title]="'HTML'"
  [showUnits]="false"
  [titleFontSize]="'2em'"
  [showSubtitle]="false"
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

</div>

<div class="col-4 text-center">

  <circle-progress
[title]="'CSS'"
[showUnits]="false"
[titleFontSize]="'2em'"
[showSubtitle]="false"
[percent]="65"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

</div>

<div class="col-4 text-center">

  <circle-progress
[title]="'Github'"
[showUnits]="false"
[titleFontSize]="'2em'"
[showSubtitle]="false"
[percent]="50"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

</div>

<div class="col-4 text-center">
  <circle-progress
[title]="'Javascript'"
[showUnits]="false"
[titleFontSize]="'2em'"
[showSubtitle]="false"
[percent]="85"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

</div>

<div class="col-4 text-center">

<circle-progress
[title]="'Ingles'"
[showUnits]="false"
[titleFontSize]="'2em'"
[showSubtitle]="false"
[percent]="85"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

</div>

<div class="col-4 text-center ">

<circle-progress
[title]="'trabajo en equipo'"
[showUnits]="false"
[titleFontSize]="'1.5em'"
[showSubtitle]="false"
[percent]="65"
[radius]="100"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>

</div>
  



</div>


