
  .name{
    font-size: 1.5rem;
    margin-top: 1vw;
    
  }
  .acerca-de-bloque{
    background-color: #f5f5dc;
    --bs-gutter-x: 0rem;
    
    position: relative;
    padding-top: 5%;
  }

.qualification{
  font-size: 1.2rem;
  
  
}

.text-description{
  font-size: 1.5rem
}

  #fotoPerfil{
    border-radius: 50%;
    width: 10%; 
    position: absolute;
    top: -5vw;
   left: 7%;

  
   
  }



