<div class="acerca-de-bloque container-fluid -d row">  
       
    <div id="fotoimg" class="qualification col-3 ">
      
      <img id="fotoPerfil" class=" img-fluid"  src="../../../assets/foto.png" width="250">

      <h1  id="nombre" class="name text-center">Julián Guillermo Yeates</h1>
      
      <p id="dev" class="bajo-nombre text-center">Full Stack Developer Jr</p>



    </div>
    
      <div class="acerca-de-mi col-7"> 

          <p style="font-size: 35px; font-weight: bold;">Acerca de mí:</p>
          
          <p class="text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, eius voluptatum natus placeat voluptates omnis quos perspiciatis perferendis voluptatem recusandae autem reiciendis beatae. Nisi vero perferendis placeat maxime eum nihil?</p>      
    </div>

</div>

