img{
  border-style: solid;
}

.seccion-container {
  margin-top: 2rem;
  margin-left: 2rem;
}
.seccion-container img.imgDescDatos {
  width: 200px;
  height: 200px;
}
.seccion-container .title-seccion {
  margin-left: 3rem;
}
.seccion-container .title-seccion h5 {
  font-size: 2rem;
}
.seccion-container .seccion-description {
  font-size: 1.5rem;
}

